.header-menu {
    background-color: #5356FF;
}

.list-main-iitems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item {
    display: inline;
}

.app_button{
    float: right;
}

.intro {
    background-color: #378CE7;
}

.main_container {
    background-color: #67C6E3;
}

.footer{
    background-color: #DFF5FF;
}

.comp_name{
    float: left;
}