html, body{
  background-color: #0A1828;
  line-height: 160%;
  font-family: Oswald, sans-serif
}

.account{
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


.intro{
  text-align: center;
  font-size: 3rem;
  margin-top: 5%;
  color: #ccc;
}

.log_greeting {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1%;
  color: #ccc;
}

ul {
  list-style: none;
  text-align: left;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  margin-bottom: 40px;
  margin-top: 40px;
  border: 4px solid transparent;
  background-color: #45a049;
  background: 
  linear-gradient(#0A1828, #0A1828) padding-box,
  linear-gradient(60deg, #32CD32, #00e8ff) border-box;
  outline: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  align-items: center;
  vertical-align: middle;
  z-index: 0;
  border-radius: 8px;
  min-height: 60px;
  width: 500px;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 200px;}

li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.logout {
  background-color: #45a049;
  background: 
  linear-gradient(#0A1828, #0A1828) padding-box,
  linear-gradient(60deg, #32CD32, #00e8ff) border-box;
  border: 4px solid transparent;
  border: linear-gradient(
    45deg,
    #48ff00,
    #00ffd5,
    #0069fc,
    #002bff,
    #0069fc,
    #00ffd5,
    #32CD32,
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  animation: glowing-button-85 20s linear infinite;
  border-radius: 8px;
  display: inline-block;
  font-size: 28px;
  outline: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  align-items: center;
  margin-left: 40px;
  vertical-align: middle;
  z-index: 0;
  border-radius: 8px;
  min-height: 60px;
  width: 100px;
  font-family: Oswald,sans-serif;
  font-size: 25px;
  font-weight: bolder;
  margin-left: 826px;
  margin-top: 200px;
  text-decoration: none;
}

@keyframes glowing-button-85 {
  0% {
background-position: 100% 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: 400% 0;
  }
}


.logout:hover {
  transition: all .2s;
  transform: scale(1.1);
}

.logout_text{
text-align: center;
color: #ccc;
}

.id{
  color: #ccc
}
.email{
  color: #ccc
}